MONGODB_URI=mongodb://localhost:27017/arise-coach
PORT=4000
JWT_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_STRING
JWT_EXPIRES_IN=7d
CLIENT_URL_PRODUCTION=https://arisexr.lol
CLIENT_URL_LOCAL=http://localhost:3000
SERVER_URL_PRODUCTION=https://api.arisexr.lol
NODE_ENV=development
